<body>
  <nav class="nav">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">The Beehive</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li class="font"><a href="/blog">View Projects</a></li>
        <li class="font"><a href="/project">Add Projects</a></li>
        <li class="font"><a class="left" href="/logout">Logout</a></li>
      </ul>
    </div>
    <ul class="sidenav" id="mobile-demo">
      <li><a href="/blog">View Projects</a></li>
      <li><a href="/project">Add Projects</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>

  <ul>
    {{#each projects}}
    {{>projects/project-block}}
    {{/each}}
  </ul>

  <footer class="page-footer footer footer-copyright">
    <div class="container center">
      © 2020 The Beehive Project
    </div>
  </footer>
</body>

</html>