body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.container {
  margin: auto;
  padding: auto;
  position: relative;
}

.main {
  background-image: url(https://images.pexels.com/photos/3740471/pexels-photo-3740471.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  display: flex;
  text-align: center;
  justify-content: center;
}

.mainlogin {
  background-image: url(/public/assets/fadedbee.png);
  height: 100%; 
  background-size: cover;
  display: flex;
  text-align: center;
  justify-content: center;
}

.nav {
  background-color: rgb(7, 66, 56);
  font-family: "Rock Salt", cursive;
}

.footer {
  background-color: rgb(7, 66, 56);
  display: flex;
  color: azure;
  min-height: 10px;
  font-family: "Roboto Slab", serif;
}

.footer .container {
  margin-bottom: 15px;
}

.font {
  font-family: "Roboto Slab", serif;
}

.welcome {
  margin-top: 40px;
  font-family: "Dancing Script", cursive;
  color: white;
  font-size: 120px;
  text-shadow: 4px 4px black;
}

.logo {
  height: 80px;
  width: 60px;
  justify-content: center;
  margin: 45px 20px auto 20px;
}

.slogan {
  margin-top: -20px;
  font-family: "Roboto Slab", serif;
  color: white;
  font-size: 40px;
  text-shadow: 2px 2px black;
}

.title{
  font-family: "Roboto Slab", serif;
  color: white;
  font-size: 40px;
  text-shadow: 2px 2px black;
  margin-top: -150px;
}

.login {
  margin-top: -20px;
  font-family: "Roboto Slab", serif;
  color: black;
  font-size: 40px;
}

.button {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.btn {
  margin-top: 20px;
}

#npo {
  margin-left: 5px;
}

.join {
  font-family: "Roboto Slab", serif;
  font-size: 60px;
  text-align: center;
}

#student {
  margin-right: 5px;
}

.table {
  justify-content: center;
  background-color: white;
  border-radius: 25px;

}

.forms {
  background-color: rgb(227, 250, 246);
  border-radius: 25px;
  /* border: black solid 2px; */
}

.mainblog{
  background-image: url(https://images.pexels.com/photos/442574/pexels-photo-442574.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  display: flex;
  text-align: center;
  justify-content: center;
}

.member-name{
  color: white;
}

.volunteer{
  margin: 50px 100px;
  color: black;
  font-family: "Roboto Slab", serif;
  font-size: 25px;
  text-shadow: 0;

}

.logout{
  font-family: "Roboto Slab", serif;
  margin-left: 20px;
}

.volunteer-profile{
  margin-top: 40px;
  font-family: "Dancing Script", cursive;
  color: white;
  background-image: url(https://images.pexels.com/photos/3740471/pexels-photo-3740471.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  text-align: center;
  justify-content: center;
}

.profile{
  text-shadow: 2px 2px black;
  font-size: 60px;

}



@media screen and (max-width: 900px) {
  .nav {
    height: auto;
  }
  .welcome {
    max-width: 90%;
  }

  .slogan {
    max-width: 90%;
    margin: 0px auto 0 auto;
  }

  .main {
    max-width: 100%;
  }
}

@media screen and (max-width: 765px) {
  .brand-logo {
    font-size: 20px;
  }
  .welcome {
    font-size: 80px;
    margin-top: 100px;
  }

  .slogan {
    max-width: 90%;
    font-size: 30px;
  }

  .brand-logo {
    width: 90%;
  }
}
