body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.container {
  margin: auto;
  padding: auto;
  position: relative;
}

.main {
  background-image: url(https://images.pexels.com/photos/3740471/pexels-photo-3740471.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  display: flex;
}

.nav {
  background-color: rgb(7, 66, 56);
  font-family: "Sanchez", serif;
}

.footer {
  background-color: rgb(7, 66, 56);
  display: flex;
  color: azure;
  min-height: 10vh;
  font-family: "Sanchez", serif;
}

.welcome {
  margin-top: 50px;
  text-align: center;
  justify-content: center;
  font-family: "Dancing Script", cursive;
  color: azure;
  font-size: 140px;
}

.slogan {
  margin-top: -10;
  text-align: center;
  font-family: "Sanchez", serif;
  color: azure;
  font-size: 40px;
  font-weight: 300;
}

.button {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#npo {
  margin-left: 5px;
}

#student {
  margin-right: 5px;
}